### Project Specific ###

### Lab specific ###

Budget Manager/Analyzer
Budget Manager/Count my money
Budget Manager/Make a menu
Budget Manager/Memorable purchases
Budget Manager/Oh the things you can buy

/Topics
course-info.yaml
course-remote-info.yaml


### IDEA ###
.idea/
*.iml


### Gradle ###
.gradle/
*build
*out